@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  text-indent: 0;
  color: black !important;
}

h4 {
  color: darkolivegreen !important;
   font-family: Calibri, sans-serif !important;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 125%;
}

.p,
p {
  color: black !important;
  font-family: Calibri, sans-serif !important;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 100%;
  margin: 0pt;
}

h2 {
  color: goldenrod !important;
   font-family: Calibri, sans-serif !important;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 125%;
}

h3, h5{
    color:darkgoldenrod !important;
}

a{
  color: #663300 !important; 
}

p > a{
  color:#663300 !important;
  font-weight: bold;
}



span{
    color:black !important;
  font-family: Calibri, sans-serif !important;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 100%;
  margin: 0pt;

}





table,
tbody {
  vertical-align: top;
  overflow: visible;
}

.notranslate li {
  text-align: justify;
  display: inline;
  padding: 5px;
  padding-bottom: 30px;
}

.noDisplay {
  display: none;
}

      html {  background-color:ivory; margin: 5px; width:100%; padding: 2px; }

   html {
    
    font-size: 18px !important;
    font-family: 'Roboto Mono' !important;
    font-size: 1.2rem !important;
    line-height: 1.6rem !important;
    font-weight: bold !important;
    color: black !important;
    margin-bottom: 40px;
    margin-top: 40px;
    
} 




h1 {
  font-size: 2.5rem !important;
  padding-left: 0px !important;
  text-align: center !important;
}

h2, h3 {
  font-size: 2rem !important;
  padding-left: 0px !important;
  text-align: center !important;
} 

body {
   
  padding-bottom: 30px;
  min-height: 100vh;
  max-width: 1700px;
  background-color: ivory;
  margin: 10px auto;
  padding-right: 60px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  
   

  height: fit-content;

  column-count: 1;




}
















@media screen and (min-width: 850px) and (max-width: 1000px) {
  body {
    padding-right: 100px;
    padding-left: 50px;
  }

}





@media screen and (min-width: 1000px) {
  body {
    column-count: 2;
    column-gap: 60px;
  }

  table {
    column-span: all;


  }

}



@media screen and (max-width: 700px) {
  .notranslate li {
    display: inline;
    padding: 5px;
  }

  body {
    column-count: 1;

  }

}

@media screen and (max-width: 850px) {
  body {


    margin-left: 10px !important;
    margin-bottom: 20px !important;
    padding-right: 5px !important;
    padding-left: 5px !important;
    margin-right: 5px !important;


    
  }

  p {


    font-size: 1.2rem !important;
    font-family: 'Roboto Mono' !important;
    text-align: justify !important;
    line-height: 1.5em !important;
    padding-right: 10px !important;


  }





}






img {
  transition: transform 2s;
}

img:hover {
  position: relative;
  transform: scale(1.2) !important;

}



  .s6, .s9, .s10, .s11, .s14, .s15, .s24   {
    color: #0000ED !important;
  
  }


  
  
  
  
  

  

  
  .s12, .s16, .s17, .s32, .s36 {
    color: #B1A200 !important;
    font-weight: bold !important;
  
  }

  .s4{
    font-weight: bold;
  }
  

  
 
  
  

  

  
  .s19, .s20 {
    color: #FFF;
  
  }
  
  
  
 
  
 
  

  

  

  

  
  
  
 
  

  
  .s36 {
    color: #B1A200;
    font-weight: bold !important;

  }

  
  
  .s40 {
    color: #0000ED;
   
  }
  
  .s41 {
    color: #FFF;
   
  }
  
 
  


  
  
  
  .s47 {
    color: #0000ED;
   
  }
  
  .s48 {
    color: #0000ED;
   
  }
  
  .s49 {
    color: #FFF280;
   
  }
  
  .s50 {
    color: #0000ED;

  }
  

  
  .s52 {
    color: #FFF;
  
  }
  
  .s53 {
    color: #FFF;

  }
  

  
  .s55 {
    color: #B1A200;
  
  }
  

  
 
  

  
  .s62 {
    color: #0000ED;
    
  }
  


 
  
  .s70 {
    color: #FFF;
   
  }
  
  .s71 {
    color: #FFF;

  }
  
  
  
  .s73 {
    color: #FFF280;
  
  }
  
  .s74 {
    color: #0000ED;

  }
  

  
  .s78 {
    color: #FFF280;
  
  }
  
  
  
  .s80 {
    color: #616161;
  
  }
  
  .s82 {
    color: #0000ED;
 
  }
  
  .s84 {
    color: #0000ED;
  
  }

  
  .s87 {
    color: #FFF;
 
  }
  

  
  .s89 {
    color: #0000ED;
 
  }
  

  
  .s91 {
    color: #0000ED;
 
  }
  

 
  
  .s94 {
    color: #0000ED;
   
  }
  

  


  

  
  .s100 {
    color: #FFF280;

  }
  
  .s101 {
    color: #FFF280;
 
  }
  

  
  .s105 {
    color: #FFF280;

  }
  

 
  

  
  .s109 {
    color: #FFF;
  
  }
  

  

  

  
  .s115 {
    color: #B1A200;
  
  }
