/* Container holding the image and the text */
.container {
  position: relative;
  width: 100%;
  padding: 5px;
  
  /* transition: width 2s;
  transition-delay: 0.1s; */
  transition: width 2s, height 2s, background-color 2s, transform 2s;
  
  
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}




@media screen and (min-width: 850px) {

  .container{
    width: 85% !important;
  }

  .container:hover{
    width: 50% !important;
    
    
  
  }

  

}


@media screen and (max-width: 840px) {

  .container:hover{
    
    transform: scale(1.5) !important;
    
  }

}











/* Bottom right text */
.text-block-color{
  position: absolute;
  bottom:1.7%;
  right: 0%;
  background-color:black;
  color:beige;
  /* padding-left: 2px;
  padding-right: 2px; */
  width: 100%;
  text-align: center;
  line-height: 48px;
}

.text-block-his{
  position: absolute;
  bottom: 2%;
  right: 0%;
  background-color:black;
  color:beige;
  /* padding-left: 2px;
  padding-right: 2px; */
  width: 100%;
  text-align: center;
  /* background-color:rgba(134,209,241,255); */
  line-height: 52px;

}


ul#map-links li{
  display:inline-block;
}


.circle {
  border-radius: 25%;
  border-spacing: 5px;
}

#slide-out li{
    color: brown;
}
















