/* Container holding the image and the text */
.container {
  position: relative;
 
}




/* Bottom right text */
.text-block {
  position: absolute;
  bottom:1%;
  right: 1%;
  background-color:rgb(146, 195, 237);
  color:black;
  padding-left: 1%;
  padding-right: 1%;
}

