@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  text-indent: 0;
}

h4 {
  color: darkolivegreen;
   font-family: Calibri, sans-serif !important;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 125%;
}

.p,
p {
  color: black;
  font-family: Calibri, sans-serif !important;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 100%;
  margin: 0pt;
}

h2 {
  color: goldenrod;
   font-family: Calibri, sans-serif !important;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 125%;
}

/* .s1 {
  color: black;
   font-family: Calibri, sans-serif !important;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 125%;
} */

h3 {
  color: darkolivegreen;
   font-family: Calibri, sans-serif !important;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 125%;
}

/* .s2 {
  color: black;
   font-family: Calibri, sans-serif !important;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 130%;
} */

/* .s3 {
  color: #355E91;
  font-family: Cambria, serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 124%;
} */

/* .s4 {
  color: black;
   font-family: Calibri, sans-serif !important;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 130%;
} */

/* .s5 {
  color: black;
   font-family: Calibri, sans-serif !important;
  font-style: italic;
  font-weight: normal;
  text-decoration: none;
  font-size: 130%;
} */

/* .s6 {
  color: black;
  font-family: "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 130%;
} */

.s7 {
  color: #355E91;
  /* font-family: Cambria, serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 124%;
  vertical-align: 1pt; */
}

.s8 {
  color: #355E91;
  /* font-family: Cambria, serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 124%;
  vertical-align: -3pt; */
}

.s9 {
  color: #355E91;
  /* font-family: Cambria, serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 124%;
  vertical-align: -4pt; */
}

/* .s10 {
  color: black;
   font-family: Calibri, sans-serif !important;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 125%;
  vertical-align: 5pt;
} */

/* .s12 {
  color: black;
   font-family: Calibri, sans-serif !important;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 130%;
} */

/* .s13 {
  color: black;
   font-family: Calibri, sans-serif !important;
  font-style: italic;
  font-weight: normal;
  text-decoration: none;
  font-size: 130%;
} */

/* .s14 {
  color: black;
   font-family: Calibri, sans-serif !important;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 124%;
} */

.s15 {
  color: #233E5F;
  /* font-family: Cambria, serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 125%; */
}

/* .s16 {
  color: black;
   font-family: Calibri, sans-serif !important;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  font-size: 130%;
} */

.s17 {
  color: #FFF;
  /*  font-family: Calibri, sans-serif !important;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 125%; */
}

/* .s18 {
  color: black;
   font-family: Calibri, sans-serif !important;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 130%;
} */

/* .s19 {
  color: black;
   font-family: Calibri, sans-serif !important;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 130%;
} */

/* .s20 {
  color: black;
  font-family: Symbol, serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 130%;
} */

/* .s21 {
  color: black;
  font-family: "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 130%;
} */

/* .s23 {
  color: black;
   font-family: Calibri, sans-serif !important;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  font-size: 125%;
} */

/* .s24 {
  color: #221E1F;
   font-family: Calibri, sans-serif !important;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 130%;
} */
/* 
.s26 {
  color: black;
  font-family: Symbol, serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 130%;
} */

/* .s27 {
  color: black;
  font-family: "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 130%;
} */

/* .s28 {
  color: black;
  font-family: Cambria, serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 124%;
} */

/* .s29 {
  color: black;
   font-family: Calibri, sans-serif !important;
  font-style: normal;
  font-weight: bold;
  text-decoration: underline;
  font-size: 130%;
} */

/* .s30 {
  color: black;
   font-family: Calibri, sans-serif !important;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 125%;
} */

.s31 {
  color: #355E91;
  /* font-family: Cambria, serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 124%;
  vertical-align: -2pt; */
}

/* .s32 {
  color: black;
   font-family: Calibri, sans-serif !important;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 125%;
} */

h1 {
  color: #00C;
  /*  font-family: Calibri, sans-serif !important;
  font-style: normal;
  font-weight: bold;
  text-decoration: underline;
  font-size: 125%; */
}

.s33 {
  color: #00F;
  /*  font-family: Calibri, sans-serif !important;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
  font-size: 130%; */
}

/* .s34 {
  color: black;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 125%;
} */

.s35 {
  color: #434343;
  /* font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 124%; */
}

.s36 {
  color: #00C;
  /*  font-family: Calibri, sans-serif !important;
  font-style: normal;
  font-weight: bold;
  text-decoration: underline;
  font-size: 125%; */
}

a {
  color: #00F;
  /*  font-family: Calibri, sans-serif !important;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 130%; */
}

table,
tbody {
  vertical-align: top;
  overflow: visible;
}

@media screen and (max-width: 850px) {
  .search-table-outter { overflow-x: scroll !important; }
th, td { min-width: 300px !important; }

}


.notranslate li {
  text-align: justify;
  display: inline;
  padding: 5px;
  padding-bottom: 30px;
}

.noDisplay {
  display: none;
}

      html {  background-color:ivory; margin: 5px; width:100%; padding: 2px; }

   html {
    
    font-size: 18px !important;
    font-family: 'Roboto Mono' !important;
    font-size: 1.2rem !important;
    line-height: 1.6rem !important;
    font-weight: bold !important;
    color: black !important;
    margin-bottom: 40px;
    margin-top: 40px;
    
} 




h1 {
  font-size: 2.5rem !important;
  padding-left: 0px !important;
  text-align: center !important;
}

h2, h3 {
  font-size: 2rem !important;
  padding-left: 0px !important;
  text-align: center !important;
} 

body {
   
  padding-bottom: 30px;
  min-height: 100vh;
  max-width: 1700px;
  background-color: ivory;
  margin: 10px auto;
  padding-right: 60px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  
   

  height: fit-content;

  column-count: 1;




}
















@media screen and (min-width: 850px) and (max-width: 1000px) {
  body {
    padding-right: 100px;
    padding-left: 50px;
  }

}





@media screen and (min-width: 1000px) {
  body {
    column-count: 2;
    column-gap: 60px;
  }

  table {
    column-span: all;


  }

}



@media screen and (max-width: 700px) {
  .notranslate li {
    display: inline;
    padding: 5px;
  }

  body {
    column-count: 1;

  }

}

@media screen and (max-width: 850px) {
  body {


    margin-left: 10px !important;
    margin-bottom: 20px !important;
    padding-right: 5px !important;
    padding-left: 5px !important;
    margin-right: 5px !important;


    
  }

   p {


    font-size: 1.2em !important;
    font-family: 'Roboto Mono' !important;
    text-align: justify !important;
    line-height: 1.5em !important;
    padding-right: 10px !important;


  }





}






img {
  transition: transform 2s;
}

img:hover {
  position: relative;
  transform: scale(1.2) !important;

}



.main > p{
  font-weight: bold !important;
  font-family: Calibri, sans-serif !important;
  color: black !important;
}

.main > p ~p{
  font-weight: 400 !important;
  font-family: Calibri, sans-serif !important;
  
  line-height: 1.4em !important;
}


